<div class="row">
        <div class="col-lg-8 mx-auto">
    
        <div class="card-header text-md-center bg-info text-white"> <label >LISTADO DE CURSOS</label></div>         
          
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Profesor</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Ciclos</th>
                            <th scope="col">Credritos</th>
                            <th scope="col">Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>0001</td>
                            <td>JUAN JOSE DIAZ</td>
                            <td>SOFTWARE</td>
                            <td>I</td>
                            <td>3</td>
                            <td>
                                <a href=""><button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <a href=""  ><button type="button" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i></button></a>
       
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>0002</td>
                            <td>JORDY BALTAZAR DIAZ</td>
                            <td>TESIS I</td>
                            <td>II</td>
                            <td>6</td>
                            <td>
                                <a href="" ><button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <a href=""  ><button type="button" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i></button></a>
       
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>0003</td>
                            <td>DAVID ALIAGA ARAUCO</td>
                            <td>TESIS I</td>
                            <td>II</td>
                            <td>6</td>
                            <td>
                                <a href="" ><button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <a href=""  ><button type="button" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i></button></a>
       
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>0004</td>
                            <td>FRANCISCO OREJON ALANYA</td>
                            <td>MOVILES</td>
                            <td>III</td>
                            <td>3</td>
                            <td>
                                <a href="" ><button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <a href=""  ><button type="button" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i></button></a>
       
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>


