<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-md-center bg-info text-white"> <label for="email" class="col-form-label text-md-right">REGISTRO DE CURSOS</label></div>

                <div class="card-body">
                    <form method="POST" action="">


                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Codigo</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" name="name" value="" required autocomplete="name" autofocus>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Asignar Profesor</label>

                            <div class="col-md-6">
                                <select name="area" class="form-control">
                                <option selected disabled>Elija al Profesor</option>
                                
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Nombre Curso</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" value="" required autocomplete="email">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="nrociclo" class="col-md-4 col-form-label text-md-right">Nro Ciclo</label>

                            <div class="col-md-6">
                                <input id="password" type="nrociclo" class="form-control" name="password" required autocomplete="new-password">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="creditos" class="col-md-4 col-form-label text-md-right">Creditos</label>

                            <div class="col-md-6">
                                <input id="creditos" type="creditos" class="form-control" name="password_confirmation" required autocomplete="new-password">
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                   Register
                                </button>
                                <button type="reset" class="btn btn-danger">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>